@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.li-style{
  letter-spacing: 3px;
  position: relative;
}

.li-style::before,
.li-style::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: black;
  transition: 0.5s;
}

.li-style::after{
  left: 0;
  bottom: -10px;
}
.li-style::before{
  right: 0;
  top: -10px;
}

.li-style:hover{
  color: ivory;
}
.li-style:hover::after,
.li-style:hover::before{
  width: 100%;
}

.slogan{
  filter: drop-shadow(10px 20px 10px #0008);
}